<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
        <li> <a href="/Agents/Index"><i class="icon icon-signal"></i> <span>Support Agent</span></a> </li>
        <li> <a href="/Leave/Index"><i class="icon icon-inbox"></i> <span>Leave Application</span></a> </li>
        <li><a href="/Forum/Index"><i class="icon icon-th"></i> <span>Forum Operation</span></a></li>
        <li><a href="#"><i class="icon icon-fullscreen"></i> <span>Coming Soon</span></a></li>
        <li><a href="#"><i class="icon icon-tint"></i> <span>Coming Soon</span></a></li>
        <li><a href="#"><i class="icon icon-pencil"></i> <span>Coming Soon</span></a></li>

      

    </ul>
</div>
